
            <section class="med" id="med-section">
                <!--Specials-->
                    <div class="spl">
                        <h2>Medicines</h2>
                    </div>
                <div class=table>
                    <a ><img src="../../../assets/images/seridon.png" height="150"><h4>Seridon</h4>
                      <button type="button" class="btn btn-sm btn-dark mr-2" >
                        Add to Cart
                      </button>
                      <button type="button" class="btn btn-sm btn-dark">
                        Add to Whishlist
                      </button>
                      </a>

                    <a ><img src="../../../assets/images/combiflam.png" height="150"><h4>CombiFlame</h4>
                          <button type="button" class="btn btn-sm btn-dark mr-2" >
                            Add to Cart
                          </button>
                          <button type="button" class="btn btn-sm btn-dark">
                            Add to Whishlist
                          </button>
                          </a>
                    <a ><img src="../../../assets/images/lulicanazole cream.png" height="150"><h4>Lulicanazole Cream</h4>
                          <button type="button" class="btn btn-sm btn-dark mr-2" >
                            Add to Cart
                          </button>
                          <button type="button" class="btn btn-sm btn-dark">
                            Add to Whishlist
                          </button>
                          </a>
                    <a ><img src="../../../assets/images/lulicanazole cream.png" height="150"><h4>Meftel</h4>
                          <button type="button" class="btn btn-sm btn-dark mr-2" >
                            Add to Cart
                          </button>
                          <button type="button" class="btn btn-sm btn-dark">
                            Add to Whishlist
                          </button>
                          </a>
                    <a ><img src="../../../assets/images/meftel spas.png" height="150"><h4>Topisal</h4>
                          <button type="button" class="btn btn-sm btn-dark mr-2" >
                            Add to Cart
                          </button>
                          <button type="button" class="btn btn-sm btn-dark">
                            Add to Whishlist
                          </button>
                          </a>
                    <a ><img src="../../../assets/images/vicco cream.png" height="150"><h4>Vicco Cream</h4>
                          <button type="button" class="btn btn-sm btn-dark mr-2" >
                            Add to Cart
                          </button>
                          <button type="button" class="btn btn-sm btn-dark">
                            Add to Whishlist
                          </button>
                          </a>
                </div>
        </section>
            